DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres"
STRIPE_SECRET_KEY=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
STRIPE_ALLOW_PLATFORM_FALLBACK="false"
NEXT_PUBLIC_STRIPE_ALLOW_PLATFORM_FALLBACK="false"
STRIPE_ENABLE_ACH="false"
STRIPE_CURRENCY="usd"
STRIPE_CONNECT_APPLICATION_FEE_PERCENT="0"
AUTOPAY_RUN_SECRET=""
